.section {
    display: none;
    text-align: center;
}

.section.active {
    display: block;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mazo {
    height: 480px;
    border-radius: 21px 21px 0 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#pregunta {
    font-size: 1.5rem;

    filter: blur(5px);
    /* Desenfoque inicial */
    opacity: 0.5;
    /* Comienza invisible */
    transition: filter 1.0s ease-out, opacity 1.0s ease-out;
    /* Transición suave */
}

#pregunta.visible {
    filter: blur(0);
    /* Desenfoque eliminado */
    opacity: 1;
    /* Hacemos visible el texto */
}

#temporizador {
    font-size: 2rem;
    color: #ff5722;
    margin: 20px 0;
}

#winner-buttons {
    justify-content: center;
}

#winner-buttons button {
    background-color: #28a745;
}

#winner-buttons button:hover {
    background-color: #218838;
}

#instruccion:empty {
    display: none;
}

/* Estilo del indicador de mano */
#hand-indicator {
    width: 60px;
    height: 60px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3162/3162514.png');
    /* Ícono de mano */
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    animation: touchEffect 1.3s infinite ease-in-out;
    z-index: 2;
}

/* Animación de toque */
@keyframes touchEffect {
    0% {
        transform: translateX(-50%) translateY(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(10px) scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: translateX(-50%) translateY(0) scale(1);
        opacity: 1;
    }
}


#puntaje-ganador {
    width: 100%;
}


#instructions ol {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}